.container {
    display: flex;

    &__main {
        padding: 60px 170px;
        width: 100%;
    }
}


@media only screen and (max-width: 1660px) {
    .container {
        &__main {
            padding: 40px 140px;
        }
    }
}

@media only screen and (max-width: 1300px) {
    .container {
        &__main {
            padding: 30px 40px;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .container {
        &__main {
            padding: 20px 10px;
        }
    }
}