$color-red-primary: #E60000;
$color-red-secondary: #FF0000;
$color-red-third: #FF0101;

$color-dark-primary: #020203;
$color-dark-secondary: #20253A;
$color-dark-third: #282D30;

$color-grey-primary: #74798C;
$color-grey-secondary: #9B9EAC;
$color-grey-third: #C4C4C4;
$color-grey-fourth: #FBFBFB;
