.radarChartScore {
    width: 250px;
    height: 230px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: $color-dark-third;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
}